jupyter
numpy
pandas
matplotlib
sklearn
boto3
scipy
pyspark
graphviz

#AWS automation -- I had as a separate virtualenv but that's unwieldy
boto3
awscli

#Also python3-tk but that's at apt level, not pip level.
